<div class="container">
    <nav>
    <ul>
        <li> <a routerLink="/sign-in" target="_blank">Sign-in</a></li>
        <li><a href="#">Sign-up</a></li>
        <li><a href="#">Log-Out</a></li>
    </ul>
</nav>
<h1>WATCH COLLECTIONS</h1>

<div class="watch"> 
    <img src="https://www.pngitem.com/pimgs/m/490-4904980_elegant-watches-for-women-hd-png-download.png" alt="image" style="width: 200px;height:300px" />
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0aFWFif7-j4FqYKI4ax0zZ5BREJKpqRMWrg&usqp=CAU" alt="image" style="width: 200px;height:300px"/>
   
</div>
<div class="next">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnsuP0ZknoKjCxTWriqjZKR-rBokTnpIZWvg&usqp=CAU" alt="image" style="width: 200px;height:300px"/>
    <img src="https://rukminim1.flixcart.com/image/832/832/kmkxbww0/watch/v/w/p/hd-197-highend-original-imagfg6jnuyxtcqr.jpeg?q=70" alt="image" style="width: 200px;height:300px"/>
</div>
<router-outlet></router-outlet>
</div>
